@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: transparent;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

button {
  font: inherit;
  cursor: default;
  -webkit-app-region: no-drag;
}

.app-region-drag {
  -webkit-app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
}
